In [1]:
import pandas as pd

In [162]:
df = pd.read_csv('Advertising.csv')
pd.options.mode.chained_assignment = None

x = df[['TV', 'radio','newspaper']]
Y = df.sales

x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [130]:
def caller(i):
        switcher={
                0:'TV',
                1:'radio',
                2:'newspaper'
             }
        return switcher.get(i,"Invalid")

# Simple Decay

In [120]:
l = 0.7
for j in range(3):
    adstock = 'simpledecay_Lambda_'+str(l)+'_'+caller(j)
    ads = caller(j)
    x[adstock] = 0.00
    for t in range(1,200):
        x[adstock][0] = x[ads][0]
        x[adstock][t] = x[ads][t] + x[adstock][t-1]*l

# Maximum Period

In [163]:
l = 0.7
n = 5

for column in range(3):
    ads = caller(column)
    adstock = 'maxperiod_l_' + str(l) + '_m_' + str(m) + caller(column)
    x[adstock] = 0.0
    
    for t in range(1,200):
        if t <= n:
            x[adstock][0] = x[ads][0]
            x[adstock][t] = x[ads][t]+ x[adstock][t-1]*l
        else:
            at = 0
            for i in range(n+1):
                at = at + x[ads][t-i]*pow(l,i)
            x[adstock][t] = at