In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Advertising.csv')
pd.options.mode.chained_assignment = None

x = df[['TV', 'radio','newspaper']]
Y = df.sales

x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [3]:
def caller(i):
        switcher={
                0:'TV',
                1:'radio',
                2:'newspaper'
             }
        return switcher.get(i,"Invalid")

# Simple Decay

In [ ]:
l = 0.7
for j in range(3):
    adstock = 'simpledecay_Lambda'+str(l)+'_'+caller(j)
    ads = caller(j)
    x[adstock] = 0.00
    for t in range(1,200):
        x[adstock][0] = x[ads][0]
        x[adstock][t] = x[ads][t] + x[adstock][t-1]*l

# Maximum Period

In [ ]:
l = 0.7
n = 5

for column in range(3):
    ads = caller(column)
    adstock = 'maxperiod_l' + str(l) + '_m' + str(m) + caller(column)
    x[adstock] = 0.0
    
    for t in range(1,200):
        if t <= n:
            x[adstock][0] = x[ads][0]
            x[adstock][t] = x[ads][t]+ x[adstock][t-1]*l
        else:
            at = 0
            for i in range(n+1):
                at = at + x[ads][t-i]*pow(l,i)
            x[adstock][t] = at

# Exponential Decay

In [ ]:
l = 0.5
l_set = [pow(l,i) for i in range(1,200)]

for column in range(3):
    ads = caller(column)
    adstock = 'exponential_decay_l' + str(l) +'_'+ caller(column)
    x[adstock] = 0.0
    
    for t in range(1,200):

        for i in range(t):
            x[adstock][0] = x[ads][0]
            x[adstock][t] = x[ads][t]+ x[adstock][t-1]*l

In [5]:
l = 0.5

for m in range(200):
    name = 'TV_'+str(m+1)
    #creating new col
    x[name] = 0.0
    #populating new col
    for i in range(200):            
        if i < m:
            x[name][i] = 0
        else:
            x[name][i] = x['TV'][m]

In [12]:
l = 0.5

l_set = [pow(2.71828,-i) for i in range(1,200) ]

In [13]:
l_set

[0.36787968862663156,
 0.13533546530402737,
 0.04978716883618589,
 0.018315688169057598,
 0.006737969660615389,
 0.002478762180722879,
 0.000911886259223803,
 0.00033546443310615646,
 0.0001234105511964023,
 4.540023514737345e-05,
 1.6701824369591597e-05,
 6.144261948582044e-06,
 2.260349172484823e-06,
 8.315365497611809e-07,
 3.059054070078067e-07,
 1.1253638587923493e-07,
 4.13998505964194e-08,
 1.5230164146599834e-08,
 5.602868043983635e-09,
 2.0611813514368038e-09,
 7.582667537695909e-10,
 2.789509372726838e-10,
 1.0262038394598194e-10,
 3.7751954892793214e-11,
 1.3888177411007407e-11,
 5.109178381552823e-12,
 1.8795629521435697e-12,
 6.914530335887288e-13,
 2.5437152669656135e-13,
 9.357811803661188e-14,
 3.442548892557495e-14,
 1.2664438146760065e-14,
 4.658989562061328e-15,
 1.7139476294058477e-15,
 6.305265202281765e-16,
 2.3195789993237506e-16,
 8.53326000016095e-17,
 3.1392130318293e-17,
 1.1548527126820269e-17,
 4.248468563510848e-18,
 1.5629252922844034e-18,
 5.749684698722734e-19,
 2.1151922166674273e-19,
 7.781362540530878e-20,
 2.8626052285014335e-20,
 1.0530943201220749e-20,
 3.874120105809831e-21,
 1.4252100982274937e-21,
 5.243058471634613e-22,
 1.9288147179961642e-22,
 7.09571757874893e-23,
 2.6103703734526723e-23,
 9.603022401859529e-24,
 3.5327568910706514e-24,
 1.299629505080658e-24,
 4.781072976590558e-25,
 1.7588596379293367e-25,
 6.470487359393943e-26,
 2.380360875036399e-26,
 8.756864175274067e-27,
 3.2214724661455283e-27,
 1.1851142877648836e-27,
 4.3597947516991765e-28,
 1.6038799357311153e-28,
 5.900348513512645e-29,
 2.1706183739396403e-29,
 7.985264115321602e-30,
 2.937616476345925e-30,
 1.0806894346226015e-30,
 3.975636927110531e-31,
 1.4625560748379603e-31,
 5.380446734103773e-32,
 1.9793570692142726e-32,
 7.281652623034686e-33,
 2.6787720996492948e-33,
 9.854658459206907e-34,
 3.6253286854948375e-34,
 1.333684787989036e-34,
 4.906355445314817e-35,
 1.8049485135139932e-35,
 6.640038971386292e-36,
 2.442735469262288e-36,
 8.986327638294392e-37,
 3.3058874134726343e-37,
 1.216168832303013e-37,
 4.474038113450465e-38,
 1.645907748079839e-38,
 6.054960298717715e-39,
 2.227496909338889e-39,
 8.194508694243746e-40,
 3.014593306886614e-40,
 1.109007647073375e-40,
 4.079813878899065e-41,
 1.500880659423998e-41,
 5.521435096546338e-42,
 2.031223824089622e-42,
 7.47245987937086e-43,
 2.7489662136979484e-43,
 1.0112888347403316e-43,
 3.7203262163586223e-44,
 1.3686324500635042e-44,
 5.034920795736658e-45,
 1.8522450945953536e-45,
 6.814033486599444e-46,
 2.5067445173416437e-46,
 9.221803925061597e-47,
 3.3925143565275087e-47,
 1.2480371251407171e-47,
 4.5912750899124345e-48,
 1.689036850476196e-48,
 6.2136235063208946e-49,
 2.285865880748449e-49,
 8.409236284519804e-50,
 3.0935872259369173e-50,
 1.138067905416998e-50,
 4.1867206668076794e-51,
 1.5402094952718924e-51,
 5.666117895404051e-52,
 2.084449687083027e-52,
 7.668267018419836e-53,
 2.8209996830421575e-53,
 1.0377884850133751e-53,
 3.817813047270241e-54,
 1.4044958750644677e-54,
 5.166855051961048e-55,
 1.9007810276943683e-55,
 6.992587326156129e-56,
 2.572430848240847e-56,
 9.463450594643844e-57,
 3.4814112580910885e-57,
 1.2807404896077993e-57,
 4.7115841252843676e-58,
 1.7332961009477934e-58,
 6.376444299144288e-59,
 2.3457643433142605e-59,
 8.629590562099048e-60,
 3.174651088960316e-60,
 1.167889654104918e-60,
 4.296428823023816e-61,
 1.5805688976204867e-61,
 5.814591939095628e-62,
 2.1390702720454217e-62,
 7.869205056305538e-63,
 2.894920705852796e-63,
 1.0649825278679148e-63,
 3.9178544074485143e-64,
 1.4412990594966356e-64,
 5.302246492254792e-65,
 1.950588788592342e-65,
 7.175819961859492e-66,
 2.639838413209637e-66,
 9.711429334761824e-67,
 3.572637599791715e-67,
 1.3143008077871725e-67,
 4.835045719304753e-68,
 1.7787151137133604e-68,
 6.543531621883546e-69,
 2.407232375577036e-69,
 8.855718967792266e-70,
 3.257839136436373e-70,
 1.1984928471078673e-70,
 4.4090117541528735e-71,
 1.6219858712689177e-71,
 5.966956572792051e-72,
 2.1951221260473722e-72,
 8.075408442277367e-73,
 2.9707787432778695e-73,
 1.0928891590556783e-73,
 4.0205172353682414e-74,
 1.4790666286652742e-74,
 5.441185708114227e-75,
 2.0017017040607395e-75,
 7.363853996132626e-76,
 2.709012315189247e-76,
 9.965906069975304e-77,
 3.666254421904772e-77,
 1.3487405351563386e-77,
 4.961742481114303e-78,
 1.8253242789978598e-78,
 6.714997274003633e-79,
 2.4703111062891364e-79,
 9.087772805925571e-80,
 3.343207030153469e-80,
 1.2298979612672238e-80,
 4.5245447903351525e-81,
 1.6644881286457437e-81,
 6.123313744889208e-82,
 2.252642753833015e-82,
 8.287015148671274e-83,
 3.0486245525373667e-83,
 1.1215270511269504e-83,
 4.125870223549268e-84,
 1.5178238531531954e-84,
 5.583765664880716e-85,
 2.054153974160394e-85,
 7.556815244052836e-86,
 2.77999883899114e-86,
 1.0227051072704577e-86,
 3.7623243641952177e-87]

In [6]:
x

,TV,radio,newspaper,TV_1,TV_2,TV_3,TV_4,TV_5,TV_6,TV_7,...,TV_191,TV_192,TV_193,TV_194,TV_195,TV_196,TV_197,TV_198,TV_199,TV_200
0,230.1,37.8,69.2,230.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,44.5,39.3,45.1,230.1,44.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17.2,45.9,69.3,230.1,44.5,17.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,151.5,41.3,58.5,230.1,44.5,17.2,151.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,180.8,10.8,58.4,230.1,44.5,17.2,151.5,180.8,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,38.2,3.7,13.8,230.1,44.5,17.2,151.5,180.8,8.7,57.5,...,39.5,75.5,17.2,166.8,149.7,38.2,0.0,0.0,0.0,0.0
196,94.2,4.9,8.1,230.1,44.5,17.2,151.5,180.8,8.7,57.5,...,39.5,75.5,17.2,166.8,149.7,38.2,94.2,0.0,0.0,0.0
197,177.0,9.3,6.4,230.1,44.5,17.2,151.5,180.8,8.7,57.5,...,39.5,75.5,17.2,166.8,149.7,38.2,94.2,177.0,0.0,0.0
198,283.6,42.0,66.2,230.1,44.5,17.2,151.5,180.8,8.7,57.5,...,39.5,75.5,17.2,166.8,149.7,38.2,94.2,177.0,283.6,0.0
199,232.1,8.6,8.7,230.1,44.5,17.2,151.5,180.8,8.7,57.5,...,39.5,75.5,17.2,166.8,149.7,38.2,94.2,177.0,283.6,232.1

In [ ]:
x = df[['TV', 'radio','newspaper']]